<section
  id="services"
  class="bg-[#111319]"
  aria-label="Services and prices"
>
  <div
    class="container mx-auto max-w-7xl px-6 py-20 md:py-25 bg-[url('/services-mob.png')] md:bg-[url('/services-tab.png')] lg:bg-[url('/services-des.png')] bg-cover bg-center"
  >
    <p
      class="flex items-center gap-3 text-white/60 text-[11px] font-semibold tracking-widest uppercase mb-5"
    >
      <span
        class="inline-block w-12 h-px bg-white/60"
        aria-hidden="true"
      ></span>
      <span>Spend your time with the best masters</span>
    </p>

    <h2
      class="text-[42px] md:text-[48px] font-bold text-white leading-[1.17] tracking-[0.05em] mb-11 reveal-up"
      data-reveal
    >
      Services and prices
    </h2>

    <div
      class="grid grid-cols-1 lg:grid-cols-2 lg:gap-8 mb-11 bg-linear-to-b from-[#171a24]/80 to-[#171a24]/30 lg:bg-none"
    >
      <div
        class="lg:bg-linear-to-b from-[#171a24] to-[#171a24]/30 p-6 lg:p-10 pb-0"
      >
        <ul class="flex flex-col gap-5" role="list">
          <li
            class="flex items-baseline justify-between gap-3 pb-5 border-b border-white/10 reveal-up delay-100"
            data-reveal
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Men's haircut</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 300 ₴</span
            >
          </li>
          <li
            class="flex items-baseline justify-between gap-3 pb-5 border-b border-white/10 reveal-up delay-200"
            data-reveal
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Beard trim</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 300 ₴</span
            >
          </li>
          <li
            class="flex items-baseline justify-between gap-3 pb-5 border-b border-white/10"
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Mustache trim</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 200 ₴</span
            >
          </li>
          <li
            class="flex items-baseline justify-between gap-3 pb-5 border-b border-white/10"
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Straight razor shave</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 200 ₴</span
            >
          </li>
        </ul>
      </div>

      <div
        class="lg:bg-linear-to-b from-[#171a24] to-[#171a24]/30 p-6 lg:p-10 pt-0"
      >
        <ul class="flex flex-col gap-5" role="list">
          <li
            class="flex items-baseline justify-between gap-3 pb-5 pt-5 lg:pt-0 border-b border-white/10 reveal-up delay-100"
            data-reveal
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Trainee's haircut</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 50 ₴</span
            >
          </li>
          <li
            class="flex items-baseline justify-between gap-3 pb-5 border-b border-white/10"
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Haircut under the nozzle</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 200 ₴</span
            >
          </li>
          <li
            class="flex items-baseline justify-between gap-3 pb-5 border-b border-white/10"
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Children's haircut</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 300 ₴</span
            >
          </li>
          <li
            class="flex items-baseline justify-between gap-3 pb-5 border-b border-white/10"
          >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >Camouflage of gray hair</span
            >
            <span
              class="text-white/60 text-sm sm:text-lg font-normal tracking-[0.02em]"
              >from 200 ₴</span
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-center">
      <a
        href="#booking"
        class="flex items-center justify-center border border-[#E8A045] text-white text-xs font-semibold tracking-[0.09em] w-50 h-12 uppercase rounded-full hover:bg-[#E8A045] hover:text-white transition-all duration-300"
        role="button"
        aria-label="Online booking"
      >
        Online-Booking
      </a>
    </div>
  </div>
</section>
